.creditsPage {
  padding: 30px 0;
}

.creditsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.productList {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.filterForm {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.amountInputBlock {
  padding: 20px;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
}
